body {
    background-image: url("../images/pool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(51, 53, 100);
    font-family: 'Muli', sans-serif;
  }

  .container {
    background-color: rgb(255, 254, 242);
    margin-top: 1.5em;
  }

  a:link {
    color: rgb(51, 53, 100);
  }

  a:hover {
    color: rgb(41, 117, 153);
  }

  #imagePlaceholder {
    border-radius: 50%;
    background-image: url(../images/searsCatalog.jpg);
    color: white;
    padding: 20px; 
    width: 150px;
    height: 150px; 
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  hr {
    border-top: 1.5px solid rgb(51, 53, 100);
  }

  #personal-info {
    text-align: center;
  }

  #personal-info p {
    font-size: 1.5em;
  }

  .row.thumbnail-div,
  .row.link-div {
    padding-top: 1.5em;
  }

  footer {
    text-align: center;
    margin-top: 1.5em;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(255, 254, 242);
    line-height: 5em;
}