body {
    background-image: url("../images/pool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(51, 53, 100);
    font-family: 'Muli', sans-serif;
  }

  .container {
    background-color: rgb(255, 254, 242);
    margin-top: 1.5em;
  }

  #main-con {
    padding-bottom: 1.5em;
  }

  .nav-link:link {
    color: rgb(51, 53, 100);
  }

  .nav-link:hover {
    color: rgb(41, 117, 153);
  }

  




  hr {
    border-top: 1.5px solid rgb(51, 53, 100);
  }

  .header-style {
    padding: 1.5em;
    text-align: center;
  }

  .header-style p {
    font-size: 1.5em;
  }

 #project-div {
   padding: 2.5em 0;
 }

  .card {
    background-color: rgb(255, 254, 242);
    border-style: hidden;
  }

  footer {
    text-align: center;
    margin-top: 1.5em;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(255, 254, 242);
    line-height: 5em;
}