body {
    color: rgb(51, 53, 100);
    font-family: 'Muli', sans-serif;
  }

  #index-body {
    background-image: url("../images/pool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  #projects-body, #about-body {
    background-color: rgb(252, 170, 130);
  }

  .container {
    background-color: rgb(255, 254, 242);
    margin-top: 1.5em;
  }

  #main-con {
    padding-bottom: 1.5em;
  }

  .nav-link:link {
    color: rgb(51, 53, 100);
  }

  .nav-link:hover {
    color: rgb(41, 117, 153);
  }

  hr {
    border-top: 1.5px solid rgb(51, 53, 100);
  }

  .header-style {
    padding: 1.5em;
    text-align: center;
  }

  .header-style p {
    font-size: 1.25em;
  }

  .thumbnail-div{
    padding-top: 2.5em;
  }

  #projects-title {
    padding-top: 2em;
    text-align: center;
    border-bottom: 1px black solid;
  }

  #project-div {
    padding-top: 2em;
  }

  .card {
    background-color: rgb(255, 254, 242);
    border-style: hidden;
  }

  .mb-3, .my-3 {
    margin-bottom: 2.5rem!important;
  }

  #aboutHeader {
    padding-top: 1em;
  }

  #aboutTitle {
    text-align: center;
  }

  #index-image {
    float: left;
    padding: 1em;
    height: 200px;
  }

  footer {
    text-align: center;
    margin-top: 1.5em;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(255, 254, 242);
    line-height: 5em;
}